.menu-header {
    padding: 15px 0;
    background: #1d1b16;
    margin-top: 110px;
}

@media (max-width: 992px) {
    .menu-header {
        margin-top: 98px;
    }
}

.menu-header h2 {
    font-size: 26px;
    font-weight: 300;
}

.menu-header ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.menu-header ol li + li {
    padding-left: 10px;
}

.menu-header ol li + li::before {
    display: inline-block;
    padding-right: 10px;
    color: rgba(255, 255, 255, 0.5);
    content: '/';
}

@media (max-width: 768px) {
    .menu-header .d-flex {
        display: block !important;
    }
    .menu-header ol {
        display: block;
    }
    .menu-header ol li {
        display: inline-block;
    }
}