body {
    font-family: 'Open Sans', sans-serif !important;
    background: #0c0b09 !important;
    color: #fff;
}

a {
    color: #cda45e;
    text-decoration: none !important;
}

a:hover {
    color: #d9ba85;
    text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', serif;
}

body::-webkit-scrollbar {
    display: none;
}

section {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg {
    background-color: #1a1814;
}
