.reviews .reviews-swiper-pagination {
    margin-top: 30px;
    position: relative;
    display: flex;
    justify-content: center;
}

.reviews .reviews-swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.4);
    opacity: 1;
}

.reviews .reviews-swiper-pagination .swiper-pagination-bullet-active {
    background-color: #cda45e;
}